<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

   	<bean id="categoriaService" parent="txProxyTemplate">
		<property name="target">
			<bean class="ar.com.gsalazar.services.impl.CategoriaServiceImpl">
                <property name="genericDAO" ref="categoriaDAO"/>
			</bean>
		</property>
	</bean>
   	<bean id="contactoWebService" parent="txProxyTemplate">
		<property name="target">
			<bean class="ar.com.gsalazar.services.impl.ContactoWebServiceImpl">
                <property name="genericDAO" ref="contactoWebDAO"/>
			</bean>
		</property>
	</bean>
   	<bean id="contactoService" parent="txProxyTemplate">
		<property name="target">
			<bean class="ar.com.gsalazar.services.impl.ContactoServiceImpl">
                <property name="genericDAO" ref="contactoDAO"/>
			</bean>
		</property>
	</bean>
</beans>