<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

<!-- Domain Object DAOs. -->
 <!-- 
 	<bean id="solicitudCVDAO" class="ar.com.gsalazar.daos.impl.SolicitudCVSpringHibernateDAO" singleton="true">
        <property name="sessionFactory"     ref="sessionFactory"/>
		<property name="persistentClass"    value="ar.com.gsalazar.beans.SolicitudCV"/>
        <property name="codeClass"          value="com.angel.architecture.persistence.ids.impl.ObjectIdImpl"/>
    </bean>
 -->
</beans>