<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<bean id="usuarioService" parent="txProxyTemplate">
		<property name="target">
			<bean class="ar.com.angelDurmiente.services.impl.UsuarioServiceImpl">
				<property name="genericDAO" ref="usuarioDAO"/>
			</bean>
		</property>
	</bean>

	<bean id="acordeService" parent="txProxyTemplate">
		<property name="target">
			<bean class="ar.com.angelDurmiente.services.impl.AcordeServiceImpl">
				<property name="genericDAO" ref="acordeDAO"/>
			</bean>
		</property>
	</bean>
	
	<bean id="cancionBuilder"		class="ar.com.angelDurmiente.documentoBuilder.impl.CancionBuilder"/>
	<bean id="cancionAcordeBuilder"	class="ar.com.angelDurmiente.documentoBuilder.impl.CancionAcordeBuilder"/>
	<bean id="poemaBuilder"			class="ar.com.angelDurmiente.documentoBuilder.impl.PoemaBuilder"/>
	<bean id="historiaBuilder"		class="ar.com.angelDurmiente.documentoBuilder.impl.HistoriaBuilder"/>

	<bean id="textoService" parent="txProxyTemplate">
		<property name="target">
			<bean class="ar.com.angelDurmiente.services.impl.TextoServiceImpl">
				<property name="genericDAO" ref="textoDAO"/>
				<property name="documentosBuilders">
					<map>
						<entry key="cancionbuilder"><ref bean="cancionBuilder"/></entry>
						<entry key="cancionacordebuilder"><ref bean="cancionAcordeBuilder"/></entry>
						<entry key="poemabuilder"><ref bean="poemaBuilder"/></entry>
						<entry key="historiabuilder"><ref bean="historiaBuilder"/></entry>
					</map>
				</property>
			</bean>
		</property>
	</bean>

	<bean id="estadisticaService" parent="txProxyTemplate">
		<property name="target">
			<bean class="ar.com.angelDurmiente.services.impl.EstadisticaServiceImpl"/>
		</property>
	</bean>

	<bean id="dedicatoriaService" parent="txProxyTemplate">
		<property name="target">
			<bean class="ar.com.angelDurmiente.services.impl.DedicatoriaServiceImpl">
				<property name="genericDAO" ref="dedicatoriaDAO"/>
			</bean>
		</property>
	</bean>

	<bean id="artistaService" parent="txProxyTemplate">
		<property name="target">
			<bean class="ar.com.angelDurmiente.services.impl.ArtistaServiceImpl">
				<property name="genericDAO" ref="artistaDAO"/>
			</bean>
		</property>
	</bean>

	<bean id="albumService" parent="txProxyTemplate">
		<property name="target">
			<bean class="ar.com.angelDurmiente.services.impl.AlbumServiceImpl">
				<property name="genericDAO" ref="albumDAO"/>
			</bean>
		</property>
	</bean>

	<bean id="cancionService" parent="txProxyTemplate">
		<property name="target">
			<bean class="ar.com.angelDurmiente.services.impl.CancionServiceImpl">
				<property name="genericDAO" ref="cancionDAO"/>
			</bean>
		</property>
	</bean>

</beans>