<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>

    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="**%d{HH:mm:ss,SSS}-%t %p %c{1}- %m%n"/>
        </layout>
    </appender>

    <appender name="GLOBAL" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="c:\\logs\\eventos\\mx-daily.log"/>
        <param name="Append" value="true"/>
        <param name="Threshold" value="DEBUG"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{dd-MMM-yyyy HH:mm:ss} %5p %c{1}:%t - %m%n"/>
        </layout>
    </appender>

    <appender name="SPRING" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="c:\\logs\\eventos\\spring-daily.log"/>
        <param name="Append" value="true"/>
        <param name="Threshold" value="DEBUG"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{dd-MMM-yyyy HH:mm:ss} %5p %c{1}:%t - %m%n"/>
        </layout>
    </appender>

    <appender name="BASE" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="c:\\logs\\eventos\\base-daily.log"/>
        <param name="Append" value="true"/>
        <param name="Threshold" value="DEBUG"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{dd-MMM-yyyy HH:mm:ss} %5p %c{1}:%t - %m%n"/>
        </layout>
    </appender>

    <appender name="HIBERNATE" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="c:\\logs\\eventos\\hibernate-daily.log"/>
        <param name="Append" value="true"/>
        <param name="Threshold" value="DEBUG"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{dd-MMM-yyyy HH:mm:ss} %5p %c{1}:%t - %m%n"/>
        </layout>
    </appender>

    <appender name="SQL" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="c:\\logs\\eventos\\sql.log"/>
        <param name="Append" value="true"/>
        <param name="Threshold" value="DEBUG"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{dd-MMM-yyyy HH:mm:ss} %5p %c{1}:%t - %m%n"/>
        </layout>
    </appender>

    <logger name="org.hibernate" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="console"/>
    </logger>

    <logger name="net.sf.hibernate.SQL" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="console"/>
    </logger>

    <logger name="org" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="console"/>
    </logger>

    <logger name="org.springframework" additivity="false">
        <level value="debug"/>
        <appender-ref ref="console"/>
    </logger>

    <logger name="com.angel" additivity="false">
        <level value="debug"/>
        <appender-ref ref="console"/>
    </logger>

    <logger name="com.angel.io" additivity="false">
        <level value="debug"/>
        <appender-ref ref="console"/>
    </logger>

    <logger name="org.springframework.aop.interceptor" additivity="false">
        <level value="debug"/>
        <appender-ref ref="console"/>
    </logger>

    <root>
        <priority value="DEBUG"/>
        <appender-ref ref="HIBERNATE"/>
        <appender-ref ref="console"/>
        <appender-ref ref="SQL"/>
        <appender-ref ref="GLOBAL"/>
    </root>

</log4j:configuration>