<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<bean id="albumService" parent="txProxyTemplate">
		<property name="target">
			<bean class="ar.com.angelDurmiente.services.impl.AlbumServiceImpl">
				<property name="genericDAO" ref="albumDAO"/>
			</bean>
		</property>
	</bean>

	<bean id="cancionService" parent="txProxyTemplate">
		<property name="target">
			<bean class="ar.com.angelDurmiente.services.impl.CancionServiceImpl">
				<property name="genericDAO" ref="cancionDAO"/>
			</bean>
		</property>
	</bean>

</beans>