/*Application {
	backgroundImage: Embed(source="/images/backgrounds.swf#retroFifties");
}
*/
ApplicationControlBar {
	highlightAlphas: 0.32, 0;
	fillAlphas: 0, 0.56;
	fillColors: #ffffff, #ffffff;
	backgroundAlpha: 1;
	cornerRadius: 17;
	dropShadowEnabled: true;
	shadowDirection: center;
	dropShadowColor: #000066;
}

ToolTip {
   backgroundAlpha: 0.18;
   cornerRadius: 13;
   paddingLeft: 5;
   paddingRight: 5;
   backgroundColor: #0099ff;
   color: #000099;
}

.mainViewstack {
	roundedBottomCorners: true;
	cornerRadius: 23;
	border-style: solid;
	border-color: #0066ff;
}

.mainPageStyle {
   color: #003399;
   textRollOverColor: #000099;
   textSelectedColor: #0033ff;
   borderColor: #000066;
   themeColor: #0066ff;
   fontSize: 16;
   fontWeight: bold; 
}

.mainFooterStyle {
   color: #0033ff;
   fontWeight: bold;
}