@font-face {
    src: url("/fonts/australianSunset.ttf");
    fontFamily: australianSunsetFamily;
    advancedAntiAliasing: true;
}

@font-face {
    src: url("/fonts/amplitud.ttf");
    fontFamily: amplitudFamily;
    advancedAntiAliasing: true;
}

Application {
   backgroundImage: Embed(source="/styles/backgrounds.swf#bluestripe");
   backgroundGradientColors: #000099, #000099;
   backgroundGradientAlphas: 1, 0.38;
   themeColor: #0000cc;
}

TextInput {
   borderStyle: solid;
   borderColor: #0099ff;
   borderThickness: 1;
   cornerRadius: 6;
   backgroundAlpha: 1;
   color: #333333;
   letterSpacing: 0;
   paddingLeft: 1;
   paddingRight: 0;
   dropShadowEnabled: true;
   shadowDirection: right;
   shadowDistance: 2;
   dropShadowColor: #333333;
}

Accordion {
   borderStyle: outset;
   borderThickness: 2;
   headerHeight: 27;
   backgroundAlpha: 0.08;
   openDuration: 555;
   highlightAlphas: 0, 0;
   fillAlphas: 0.63, 0.4, 0, 0.65;
   fillColors: #000066, #000066, #000066, #000066;
   selectedFillColors: #000033, #000066;
   themeColor: #000066;
   backgroundColor: #666666;
   borderColor: #666666;
   textRollOverColor: #666666;
   textSelectedColor: #cccccc;
   dropShadowEnabled: true;
   shadowDistance: 3;
   shadowDirection: right;
   dropShadowColor: #cccccc;
   headerStyleName: "myaccordionHeader";
}

.myaccordionHeader {
   color: #000000;
   textAlign: center;
   fontSize: 12;
   fontWeight: bold;
}

ToolTip {
   backgroundAlpha: 0.86;
   cornerRadius: 16;
   paddingLeft: 10;
   paddingRight: 10;
   backgroundColor: #000066;
   color: #cccccc;
   textAlign: left;
   fontWeight: normal;
   fontStyle: italic;
}

FormItem {
   color: #ffffff;
   fontSize: 11;
   fontWeight: bold;
}


Panel {
   borderStyle: solid;
   borderThickness: 0;
   roundedBottomCorners: true;
   cornerRadius: 28;
   headerHeight: 27;
   backgroundAlpha: 0.76;
   backgroundColor: #cccccc;
   shadowDistance: 0;
   shadowDirection: left;
   titleStyleName: "mypanelTitle";
}

.mypanelTitle {
   textAlign: center;
   fontSize: 12;
   fontWeight: bold;
}

TextArea {
   color: #ffffff;
}


		Label {
			color: #BBBBBB;
		}
		
		CheckBox {
			color: #BBBBBB;
			textRollOverColor: #BBBBBB;
			textSelectedColor: #BBBBBB;
		}
Text {
	color: #000000;
	textRollOverColor: #BBBBBB;
	textSelectedColor: #BBBBBB;
	fontSize: 11;
}