<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<bean id="personaService" parent="txProxyTemplate">
		<property name="target">
			<bean class="ar.com.gsalazar.services.impl.PersonaServiceImpl">
				<property name="genericDAO" ref="personaDAO"/>
			</bean>
		</property>
	</bean>
	<bean id="proyectoService" parent="txProxyTemplate">
		<property name="target">
			<bean class="ar.com.gsalazar.services.impl.ProyectoServiceImpl">
				<property name="genericDAO" ref="proyectoDAO"/>
			</bean>
		</property>
	</bean>
	<bean id="searcherService" parent="txProxyTemplate">
		<property name="target">
		<!-- SIN DAO -->
			<bean class="ar.com.gsalazar.services.impl.SearcherServiceImpl"/>
		</property>
	</bean>
	<bean id="articuloService" parent="txProxyTemplate">
		<property name="target">
			<bean class="ar.com.gsalazar.services.impl.ArticuloServiceImpl">
                <property name="genericDAO" ref="articuloDAO"/>
			</bean>
		</property>
	</bean>
   	<bean id="tagSearchService" parent="txProxyTemplate">
		<property name="target">
			<bean class="ar.com.gsalazar.services.impl.TagSearchServiceImpl">
                <property name="genericDAO" ref="tagSearchDAO"/>
			</bean>
		</property>
	</bean>
   	<bean id="categoriaService" parent="txProxyTemplate">
		<property name="target">
			<bean class="ar.com.gsalazar.services.impl.CategoriaServiceImpl">
                <property name="genericDAO" ref="categoriaDAO"/>
			</bean>
		</property>
	</bean>
   	<bean id="contactoWebService" parent="txProxyTemplate">
		<property name="target">
			<bean class="ar.com.gsalazar.services.impl.ContactoWebServiceImpl">
                <property name="genericDAO" ref="contactoWebDAO"/>
			</bean>
		</property>
	</bean>
   	<bean id="contactoService" parent="txProxyTemplate">
		<property name="target">
			<bean class="ar.com.gsalazar.services.impl.ContactoServiceImpl">
                <property name="genericDAO" ref="contactoDAO"/>
			</bean>
		</property>
	</bean>
</beans>